<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${'Name: ' + contact.getName()}">VALUE</p>
<p th:text="${'Email: ' + contact.getEmail()}">VALUE</p>
<p th:text="${'Phone: ' + contact.getTelephoneNumber()}">VALUE</p>
<p th:text="${'Balance: ' + balance}">VALUE</p>

<form th:method="GET" th:action="@{/accounts/{id}/delete(id=${account.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<form th:method="GET" th:action="@{/accounts/{id}/contacts(id=${account.getId()})}">
    <input type="submit" value="My contacts"/>
</form>

<form th:method="GET" th:action="@{/accounts/{id}/groups(id=${account.getId()})}">
    <input type="submit" value="My group"/>
</form>

<form th:method="GET" th:action="@{/accounts/{id}/expenses(id=${account.getId()})}">
    <input type="submit" value="My expenses"/>
</form>

</body>
</html>