<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<form th:method="POST" th:action="@{/accounts/{accountId}/groups/{groupId}/add(accountId=${accountId}, groupId=${id})}">
    Choose a contact: <select name="contact">
    <option th:each="contact : ${contacts}"
            th:value="${contact.getTelephoneNumber()}"
            th:text="${contact.name}">
    </option>
</select>
    <br><br>
    <input type="submit" value="Add"/>
</form>

<br/>
<hr/>

</body>
</html>