<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>



<div th:if="${groups.isEmpty()}">
    <p>Group list is empty!</p>
</div>
<div th:unless="${groups.isEmpty()}">
    <div th:each="group : ${groups}">
        <a th:href="@{/accounts/{accountId}/groups/{groupId}(accountId=${accountId}, groupId=${group.getId()})}"
           th:text="${group.getName()}">user</a>
    </div>
</div>

<br/>
<hr/>

<form th:method="GET" th:action="@{/accounts/${accountId}/groups/new}">
    <input type="submit" value="Create new group"/>
</form>

</body>
</html>