<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${'Name: ' + group.getName()}">VALUE</p>
<p th:text='List particpant of group'>
<div th:each="contact : ${contacts}">
    <a th:href="@{/accounts/{id}(id=${person.getId()})}"
       th:text="${contact.getName() + ', ' + person.getAge()}">user</a>
</div>


<form th:method="GET" th:action="@{/accounts/{id}/edit(id=${account.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/accounts/{id}(id=${account.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<form th:method="GET" th:action="@{/accounts/{id}(id=${account.getId()})}">
    <input type="submit" value="My contacts"/>
</form>

<form th:method="GET" th:action="@{/accounts/{id}/groups(id=${account.getId()})}">
    <input type="submit" value="My group"/>
</form>

</body>
</html>